# coding=utf-8
import simtk.unit as unit

# Basic input
INITIAL_STRUCTURE_FILENAME = 'example_data/initial_structure.pdb'
FORCEFIELD_FILE            = 'forcefields/polymer_1kb_ff.xml'                   # OpenMM forcefield XML file

# External Field parameters
USE_EXTERNAL_FIELD = True
EXTERNAL_FIELD_FILE = 'example_data/27-7x7_z50_2_nuc35-syg2.npy'   # .npy filename or None
F_UNIT = unit.angstrom
#F_VOXEL_SIZE = (0.49949*F_UNIT, 0.49949*F_UNIT, 3.5678*F_UNIT)
F_VOXEL_SIZE = (3.5678*F_UNIT, 0.49949*F_UNIT, 0.49949*F_UNIT,)
F_NORMALIZE = True                # Should the field be normalized to [0;1]?
F_SCALING_FACTOR = 10

# Harmonic Restraints
USE_RESTRAINTS = False
RESTRAINTS_FILE = 'example_data/restraints_1kb.rst'
R0_PARAM = 0.2              # this values will be used only if they are missing in rst file
K_PARAM = 20.0

# Spherical conatiner
USE_SPHERICAL_CONTAINER = False
SPHERICAL_CONTAINER_X = 2.85424
SPHERICAL_CONTAINER_Y = 2.397552
SPHERICAL_CONTAINER_Z = 2.8221185
SPHERICAL_CONTAINER_RADIUS = 1.5    # nm
SPHERICAL_CONTAINER_SCALE = 1     # force constant

# Energy minimization
MINIMIZE = True
MINIMIZED_FILE = ' '            # Set to None if you don't want to save minimized file, set to ' ' to *_min.pdb

# integrator
INTEGRATOR_TYPE = 'verlet'                # Alternative: langevin, verlet
FRICTION_COEFF = 1e-4                      # Used only with langevin integrator

# Simulation parameters
RUN_SIMULATION = True
N_STEPS   = 100000
TIME_STEP = 10.0 * unit.femtoseconds   # dla verleta 10 fs
TEMPERATURE = 250 * unit.kelvin    # 309.75K = 36.6°C
RANDOM_SEED = 1                       # 0 to make it random
SET_INITIAL_VELOCITIES = True

# Trajectory settings
TRAJECTORY_FRAMES   = 2000
TRAJECTORY_FILENAME_DCD = '' #''trajektoria.dcd'  # extension matters. PDB or DCD
TRAJECTORY_FILENAME_PDB = 'trj.pdb'  # extension matters. PDB or DCD  ' ' - for automatic name

# State reporting
N_OF_STATE_READS_REPORTED_TO_SCREEN = 20
N_OF_STATE_READS_REPORTED_TO_FILE   = 1000
STATE_FILE_NAME                     = 'state.csv'
PLOT_DATA                           = True
PLOT_FILE_NAME                      = 'energy.pdf'
